*, ::after, ::before {
  box-sizing: border-box;
}
.vue-input-calculator {
  z-index: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
.vue-input-calculator .calc-wrapper {
  margin: -1px auto 0 auto;
  padding: 0;
  position: fixed;
  z-index: 1;
}
.vue-input-calculator .calc-wrapper .calculator {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 720px;
  min-width: 320px;
  background-color: var(--vue-input-calculator-bg-color);
  box-shadow: 0 0 0 1px var(--vue-input-calculator-bg-color);
}
.vue-input-calculator .calc-wrapper .calculator .calculator-logs {
  padding: 0 0.8rem 0 0.8rem;
  max-height: 100px;
  display: flex;
  position: relative;
  overflow: auto;
  align-items: flex-end;
  flex-direction: column;
  background: var(--vue-input-calculator-event-btn-bg-color);
}
.vue-input-calculator .calc-wrapper .calculator .calculator-logs .header {
  color: var(--vue-input-calculator-text-color);
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 5px;
}
.vue-input-calculator .calc-wrapper .calculator .calculator-logs span {
  color: var(--vue-input-calculator-text-color);
  opacity: 0.75;
  display: block;
  font-size: 1rem;
  text-align: right;
  padding: 0.4rem 0;
  line-height: 1;
  font-weight: lighter;
}
.vue-input-calculator .calc-wrapper .calculator .calculator-input {
  color: var(--vue-input-calculator-text-color);
  width: 100%;
  border: none;
  padding: 0.8rem;
  display: block;
  font-size: 2.4rem;
  background: none;
  text-align: right;
  font-weight: lighter;
}
.vue-input-calculator .calc-wrapper .calculator .calculator-input:focus, .vue-input-calculator .calc-wrapper .calculator .calculator-input:active {
  outline: none;
}
.vue-input-calculator .calc-wrapper .calculator .calculator-row {
  display: flex;
  padding: 0;
  justify-content: space-around;
}
.vue-input-calculator .calc-wrapper .calculator .calculator-row .calculator-col {
  flex: 1;
  box-shadow: 0 0 0 1px var(--vue-input-calculator-bg-color);
}
.vue-input-calculator .calc-wrapper .calculator .calculator-row .calculator-col.wide {
  flex: 2;
}
.vue-input-calculator .calc-wrapper .calculator .calculator-btn {
  width: 100%;
  color: var(--vue-input-calculator-text-color);
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  outline: none;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  font-weight: 200;
  justify-content: center;
  background-color: var(--vue-input-calculator-number-btn-bg-color);
}
.vue-input-calculator .calc-wrapper .calculator .calculator-btn.success {
  background-color: var(--vue-input-calculator-action-success-btn-bg-color);
  color: var(--vue-input-calculator-text-color);
}
.vue-input-calculator .calc-wrapper .calculator .calculator-btn.accent {
  background-color: var(--vue-input-calculator-action-btn-bg-color);
  color: var(--vue-input-calculator-text-color);
}
.vue-input-calculator .calc-wrapper .calculator .calculator-btn.gray {
  background-color: var(--vue-input-calculator-event-btn-bg-color);
}
.vue-input-calculator .calc-wrapper .calculator .calculator-btn:active {
  background-color: var(--vue-input-calculator-bg-color);
}
.vue-input-calculator .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slide-enter-active {
  -webkit-animation: slide-in 0.5s;
          animation: slide-in 0.5s;
}
.slide-leave-active {
  animation: slide-in 0.3s reverse;
}
@-webkit-keyframes slide-in {
from {
    transform: translateY(100%);
}
to {
    transform: translateY(0);
}
}
@keyframes slide-in {
from {
    transform: translateY(100%);
}
to {
    transform: translateY(0);
}
}
.opacity-enter-active {
  -webkit-animation: opacity-in 0.5s;
          animation: opacity-in 0.5s;
}
.opacity-leave-active {
  animation: opacity-in 0.3s reverse;
}
@-webkit-keyframes opacity-in {
100% {
    opacity: 1;
}
0% {
    opacity: 0;
}
}
@keyframes opacity-in {
100% {
    opacity: 1;
}
0% {
    opacity: 0;
}
}
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.calculator-icon {
  display: flex;
  margin: auto;
  cursor: pointer;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app .gh-link {
  align-self: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
}
#app .vue-logo {
  text-align: center;
}
#app .vue-logo img {
  max-width: 70%;
}
#app .vue-logo div {
  font-weight: bolder;
  font-size: 2rem;
  padding: 1rem 0;
}
#app .preview-block {
  padding: 1rem;
  background-color: #e6e6e6;
  min-width: 300px;
  max-width: 400px;
}
#app .preview-block > .input-label {
  font-weight: bold;
  color: #2c3e50;
  margin: 7px 0 5px 0;
}
#app .preview-block .sample {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  padding: 3px;
}
#app .preview-block .sample > input {
  max-width: 200px;
  height: 40px;
  text-align: right;
  font-size: 34px;
  color: #2c3e50;
  border: none;
}
